<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 14 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<h1 mat-dialog-title>{{ dialogHeader }}</h1>

<div mat-dialog-content>
  <h3>{{ dialogBody }}</h3>
  <div style="color:#df546a;font-size:16px;font-weight:bold;">WARNING: This cannot be undone.</div>
</div>

<hr>

<div mat-dialog-actions align="end">
  <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
  <button mat-raised-button matDialogClose="confirm" color="accent" cdkFocusInitial>Accept</button>
</div>
