/**
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 23 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service. 
===========================================
*/

.page-container {
  position: relative;
  min-height: 100vh;
  background-image: url('/assets/drive.jpg'), linear-gradient(0deg, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-bar {
  width: 100%;
  background-color: #740001;
}

.bcrs-bar {
  background-color: #000;
  color: #FFF;
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 15px;
  height: 30px;
}

.logo {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-container {
  margin: 0 3%;
}

.subtitle {
  font-size: 16px;
}

.employee-button {
  text-decoration: none;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.footer-content {
  font-size: 1em;
  font-weight: lighter;
  padding-left: 2%;
  letter-spacing: 3px;
}
