<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 22 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<mat-toolbar style="border-bottom: 15px solid #D6A800">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <div class="layout-header-container">
      <p id="large-text" class="layout-header-text comic-text">
        Bob's Computer Repair Shop <br /><br /><br />
      </p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<br /><br /><br />

<div fxLayout="column">
  <br /><br />
  <mat-card fxFlex class="card-container mat-elevation-z4">
    <mat-card-title>
      <h1 class="title">
        Forgot Password<br />
        <span class="subtitle">
          Fields marked with an asterisk (*) are required.
        </span>
      </h1>
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <mat-horizontal-stepper #stepper linear>

        <!-- Verify Username Form -->
        <mat-step [stepControl]="form">
          <app-verify-username-form #verifyUsernameStep></app-verify-username-form>
        </mat-step>

         <!-- Verify Security Questions Form -->
        <mat-step [stepControl]="form">
          <app-verify-security-questions #verifySqStep></app-verify-security-questions>
        </mat-step>

        <!-- Password Reset Form -->
        <mat-step fxFlex [stepControl]="form" class="required" errorMessage="Password is required">
          <form [formGroup]="form">

              <mat-list>
                <mat-list-item>
                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput required formControlName="newPassword" />

                    <mat-error class="error" *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched">
                      Password is a required field.
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>

              <br />
              <div fxLayoutAlign="end">
                <button (click)="updatePassword()" mat-raised-button color="primary" matStepperNext>Update Password</button>
              </div>

          </form>
        </mat-step>

      </mat-horizontal-stepper>

      <div>
        <a routerLink="/session/login" class="register-footer-link">Employee Sign In</a>
      </div>

    </mat-card-content>
  </mat-card>
</div>

