  <!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 18 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
; Code attribution:
;   Harry Potter by Christina Stephan found on codepen [ref:A]
;     https://codepen.io/christinastep/pen/KEbrzx
===========================================
-->


        <div class="not-found-msg">
          <h1>Oops!</h1>
          <p>
            You didn't break the internet, but we can't find what you were looking for.
          </p>
          <br><br>
          <button mat-raised-button class="back-home-button" (click)="back()">
            Return Home
          </button>
        </div>

        <!-- [ref:A] -->
        <div class="body-hp">
          <div class="wrapper">
            <div class="illu">

            <div class="besen">
              <div class="besen__start"></div>
              <div class="besen__end"></div>
            </div>

            <div class="body"></div>

            <div class="leg">
              <div class="leg__top"></div>
              <div class="leg__down">
                <div class="foot"></div>
              </div>
            </div>

            <div class="arm">
              <div class="arm__top"></div>
              <div class="arm__down"></div>
            </div>

            <div class="cap">
              <div class="cap__main">
                <h1 class="error-code">Error 404</h1></div>
              <div class="cap__end"></div>
            </div>

            <div class="face--profil">
              <div class="nose"></div>
              <div class="base">
                <div class="hair hair--right"></div>
                <div class="hair hair--left"></div>
                <div class="mouth"></div>
                <div class="glases face--side"></div>
                <div class="eye eye--right"></div>
              </div>
            </div>

          </div>

          <div class="wind wind--1"></div>
          <div class="wind wind--2"></div>

          <div class="schnatz" id="schnatz">
            <div class="kugel"></div>
            <div class="wing wing--left"></div>
            <div class="wing wing--right"></div>
          </div>
        </div>
      </div>
      <!-- [ref:A] -->
