/**
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 7 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service. 
===========================================
*/

/* Gryffindor Colors
Crimson: #740001
Red: #ae0001
Yellow: #eeba30
Gold: #d3a625
Black */

/* Available Font Families
font-family: 'Fauna One', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Marcellus', serif;
font-family: 'Prociono', serif;
font-family: 'Raleway', sans-serif; */
