<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 20 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<div fxLayout="column">

  <div fxFlex>
    <mat-card class="mat-elevation-z0">

      <mat-card-title style="text-align:center;margin-bottom:70px;">About Bob's Computer Repair Shop</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>

        <!-- About row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left">
            <mat-card-title class="about-title">What is Bob's Computer Repair Shop?</mat-card-title>
          </div>
          <div fxLayout="column" class="div-column-right">
            <span>
              <span class="text-enhance">Bob’s Computer Repair Shop is...</span>
              the best thing to happen to the wizardry world. It’s just the bee’s knees. Witches and Wizards alike can’t get enough of Bob’s computer repair shop. The reason behind this is because Bob’s Computer Repair Shop is a one stop shop for creating invoices, managing and viewing users, and managing and viewing security questions. The functionality provided by BCRS is rival to none.
            </span>
          </div>
        </div>

        <!-- Application row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-right-reverse">
            <span>
              <span class="text-enhance">Bob’s Computer Repair Shop works in two facets...</span>
              one for employees and one for managers or administrators. As an employee you can create invoices with our easy-to-use interface that compiles all invoices by both hourly rate for service and by product pricing. As a manager you will be able to view all users or employee’s information, selected security questions, and will be able to view data within our beautiful charting interface. New users can easily be added with the create user function, and silly wizards who can’t remember their head from their pet toad (or owl*) can use the forgot password function to recover their account.
            </span>

          </div>
          <div fxLayout="column" class="div-column-left-reverse">
            <mat-card-title class="about-title">How does it work?</mat-card-title>
          </div>
        </div>

        <!-- History row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left-2">
            <mat-card-title class="about-title">Our History</mat-card-title>
          </div>
          <div fxLayout="column" class="div-column-right-2" style="margin-left:60px;">
            <span>
              <span class="text-enhance">Before wizards had computers...</span>
              they relied entirely on magic to create their invoices and manage users. Diagon Alley was a total mess. Then with the advancement of the muggles, computers were introduced which in turn grew into Bob’s Computer Repair Shop. At the time this happened Bob was attending Hogwarts: School of Witchcraft and Wizardry with Godric Gryffindor who inspired Bob to take advantage of the new muggle technology. This is how Bob’s Computer Repair Shop was born and is now used by the wizarding world and muggles in the millions.
            </span>

          </div>
        </div>

        <!-- Disclaimer -->
        <div style="font-size:13px;text-align:center;">
          Disclaimer:
        </div>
        <div style="font-size:11px;text-align:center;">
          *(We do not discriminate the pet chosen by either witch or wizard, toad and owl are used as pet examples to represent examples and do not represent any tactical choice being picking any type or form of pet.)
        </div>


      </mat-card-content>
    </mat-card>
  </div>
</div>
