<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 20 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<div fxLayout="column">

  <div fxFlex>
    <mat-card class="mat-elevation-z8">

      <mat-card-title style="text-align:center;margin-bottom:70px;padding-top:15px;">About Bob's Computer Repair Shop</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>

        <!-- About row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left">
            What is Bob's Computer Repair Shop?
          </div>
          <div fxLayout="column" class="div-column-right">
            <span>
              <span class="text-enhance">Bob's Computer Repair Shop is ...</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin libero nunc consequat interdum. Et malesuada fames ac turpis. Pharetra magna ac placerat vestibulum lectus mauris. Velit egestas dui id ornare arcu odio ut sem. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Consectetur adipiscing elit duis tristique sollicitudin nibh.
            </span>
          </div>
        </div>

        <!-- Application row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-right-reverse">
            <span>
              <span class="text-enhance">Lorem ipsum dolor sit amet,</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin libero nunc consequat interdum. Et malesuada fames ac turpis. Pharetra magna ac placerat vestibulum lectus mauris. Velit egestas dui id ornare arcu odio ut sem. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Consectetur adipiscing elit duis tristique sollicitudin nibh.
            </span>

          </div>
          <div fxLayout="column" class="div-column-left-reverse">
            How does it work?
          </div>
        </div>

        <!-- History row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left-2">
            Our History
          </div>
          <div fxLayout="column" class="div-column-right-2" style="margin-left:60px;">
            <span>
              <span class="text-enhance">Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin libero nunc consequat interdum. Et malesuada fames ac turpis. Pharetra magna ac placerat vestibulum lectus mauris. Velit egestas dui id ornare arcu odio ut sem. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Consectetur adipiscing elit duis tristique sollicitudin nibh.
            </span>

          </div>
        </div>



      </mat-card-content>
    </mat-card>
  </div>
</div>
