<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 22 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->
<div class="page-container">

  <div class="menu-bar" fxLayoutGap="20" fxLayout.xs="column">
    <div class="navbar-container">

      <div class="navbar-container-left">
        <a routerLink="/" class="navbar-link">
          <img src="assets/logo.png" alt="logo" width="70" height="78" class="logo">
        </a>
      </div>

      <div class="navbar-container-right">
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button routerLink="/about">About</button>
        <button class="navbar-link" mat-button routerLink="/contact">Contact Us</button>
         <button class="navbar-link nav-username" mat-button routerLink="/session/signin">Employee Login<mat-icon>profile</mat-icon></button>

      </div>
    </div>
</div>



<div class="bar"></div>
<div class="bcrs-bar" fxLayoutGap="20" fxLayout.xs="column">
  Bob's Computer Repair Shop
</div>

<div fxLayout="column">
  <br /><br />
  <mat-card fxFlex class="card-container mat-elevation-z4">
    <mat-card-title>
      <h1 class="title">
        Account Registration Form<br />
        <span class="subtitle">
          Fields marked with an asterisk (*) are required.
        </span>
      </h1>
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <mat-horizontal-stepper #stepper linear>

        <!-- contact form step -->
        <mat-step fxFlex [stepControl]="contactForm" class="required" errorMessage="Contact is required">
          <form [formGroup]="contactForm">
            <ng-template matStepLabel>Contact Information</ng-template>
              <br />

              <mat-list>
                <mat-list-item>
                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput required formControlName="firstName" />

                    <mat-error class="error" *ngIf="contactForm.controls['firstName'].hasError('required') && contactForm.controls['firstName'].touched">
                      First name is a required field.
                    </mat-error>
                  </mat-form-field>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput required formControlName="lastName" />

                    <mat-error class="error" *ngIf="contactForm.controls['lastName'].hasError('required') && contactForm.controls['lastName'].touched">
                      Last name is a required field.
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>

                <br /><br />

                <mat-list-item>
                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>Phone number</mat-label>
                    <input matInput required formControlName="phoneNumber" />

                    <mat-error class="error" *ngIf="contactForm.controls['phoneNumber'].hasError('required') && contactForm.controls['phoneNumber'].touched">
                      Phone number is a required field.
                    </mat-error>
                  </mat-form-field>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput required formControlName="email" />

                    <mat-error class="error" *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">
                      Email is a required field.
                    </mat-error>

                    <mat-error class="error" *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['lastName'].touched">
                      Invalid email format.
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>

                <br /><br />

                <mat-list-item>
                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput required formControlName="address" />

                    <mat-error class="error" *ngIf="contactForm.controls['address'].hasError('required') && contactForm.controls['address'].touched">
                      Address is a required field.
                    </mat-error>

                  </mat-form-field>
                </mat-list-item>
              </mat-list>

              <br />
              <div fxLayoutAlign="end">
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>

          </form>
        </mat-step>

        <!-- Security questions form step -->
        <mat-step [stepControl]="sqForm" errorMessage="Security Questions are required">
          <form [formGroup]="sqForm">
            <ng-template matStepLabel>Security Questions</ng-template>

            <br />

            <mat-list>
              <mat-list-item>
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Security Question</mat-label>
                  <mat-select required formControlName="securityQuestion1" >
                    <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                      {{ question.text }}
                    </mat-option>
                    </mat-select>

                  <mat-error class="error" *ngIf="sqForm.controls['securityQuestion1'].hasError('required') && sqForm.controls['securityQuestion1'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Answer</mat-label>
                  <input required matInput formControlName="answerToSecurityQuestion1" />

                  <mat-error class="error" *ngIf="sqForm.controls['answerToSecurityQuestion1'].hasError('required') && sqForm.controls['answerToSecurityQuestion1'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>
              </mat-list-item>

              <br /><br />

              <mat-list-item>
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Security Question</mat-label>
                  <mat-select required formControlName="securityQuestion2" >
                    <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                      {{ question.text }}
                    </mat-option>
                    </mat-select>

                  <mat-error class="error" *ngIf="sqForm.controls['securityQuestion2'].hasError('required') && sqForm.controls['securityQuestion2'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Answer</mat-label>
                  <input required matInput formControlName="answerToSecurityQuestion2" />

                  <mat-error class="error" *ngIf="sqForm.controls['answerToSecurityQuestion2'].hasError('required') && sqForm.controls['answerToSecurityQuestion2'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>
              </mat-list-item>

              <br /><br />

              <mat-list-item>
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Security Question</mat-label>
                  <mat-select required formControlName="securityQuestion3" >
                    <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                      {{ question.text }}
                    </mat-option>
                    </mat-select>

                  <mat-error class="error" *ngIf="sqForm.controls['securityQuestion3'].hasError('required') && sqForm.controls['securityQuestion3'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field fxFlex appearance="fill">
                  <mat-label>Answer</mat-label>
                  <input required matInput formControlName="answerToSecurityQuestion3" />

                  <mat-error class="error" *ngIf="sqForm.controls['answerToSecurityQuestion3'].hasError('required') && sqForm.controls['answerToSecurityQuestion3'].touched">
                    Required field.
                  </mat-error>
                </mat-form-field>
              </mat-list-item>
            </mat-list>

            <br />
            <div fxLayoutAlign="end">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button> &nbsp;&nbsp;
              <button mat-raised-button color="primary" [disabled]="!sqForm.valid" matStepperNext>Next</button> &nbsp;&nbsp;
            </div>
          </form>
        </mat-step>

        <!-- credentials form step -->
        <mat-step [stepControl]="credForm" errorMessage="Credentials is required">
          <form [formGroup]="credForm">
            <ng-template matStepLabel>Credentials</ng-template>

            <br />

            <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

            <div class="register-credential-container">
              <mat-list>
                  <mat-list-item>
                    <mat-form-field fxFlex appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput required formControlName="userName" />

                      <mat-error class="error" *ngIf="credForm.controls['userName'].hasError('required') && credForm.controls['userName'].touched">
                        Username is a required field.
                      </mat-error>
                    </mat-form-field>
                    </mat-list-item>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <mat-list-item>
                    <mat-form-field fxFlex appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput required formControlName="password" />

                      <mat-error class="error" *ngIf="credForm.controls['password'].hasError('required') && credForm.controls['password'].touched">
                        Password is a required field.
                      </mat-error>

                      <mat-error class="error" *ngIf="credForm.controls['password'].hasError('pattern') && credForm.controls['password'].touched">
                        Password must be at least 8 characters, contain one letter, and one number.
                      </mat-error>
                    </mat-form-field>
                  </mat-list-item>
              </mat-list>

              <br />
              <div fxLayoutAlign="end">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button> &nbsp;&nbsp;
                <button mat-raised-button (click)="register()" color="primary" [disabled]="!credForm.valid" matStepperNext>Register</button> &nbsp;&nbsp;
              </div>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>

      <div>
        <button mat-button>
          <a routerLink="/session/signin" class="register-footer-link employee-button">Employee Sign In</a>
        </button>
      </div>

    </mat-card-content>
  </mat-card>


  <!-- footer -->
  <div class="new-footer-p">
    <div class="new-footer-c">
      &copy; {{year | date: 'yyyy'}} - BCRS - Created by Ng Swerve
    </div>
  </div>

</div>
</div>
