<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 7 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service. 
===========================================
-->
<body class="gryffindor-theme">
  <div class="page-container">

    <div fxLayout="column">

      <!-- navigation -->
      <div class="header-bar">

      </div>
      <div class="menu-bar" fxLayoutGap="20" fxLayout.xs="column">
          <div class="navbar-container">

            <div class="navbar-container-left">
              <a routerLink="/" class="navbar-link">
                <img src="assets/logo.png" alt="logo" width="70" height="78" class="logo">
              </a>
            </div>

            <div class="navbar-container-right">
              <button class="navbar-link" routerLink="/" mat-button>Home</button>
              <button class="navbar-link" mat-button routerLink="/about">About</button>
              <button class="navbar-link" mat-button routerLink="/contact">Contact Us</button>
               <button class="navbar-link nav-username" mat-button routerLink="/session/signin">Employee Login<mat-icon>profile</mat-icon></button>

            </div>
          </div>
      </div>

      <div class="bar"></div>
      <div class="bcrs-bar" fxLayoutGap="20" fxLayout.xs="column">
        Bob's Computer Repair Shop
      </div>

      <!-- main content -->
      <div fxLayout="row wrap">
        <div fxFlex>
          <mat-card class="content-container" color="accent, 50">

            <mat-card-content>
              <router-outlet></router-outlet>
            </mat-card-content>

          </mat-card>
        </div>
      </div>

      <!-- footer -->
      <div class="new-footer-p">
        <div class="new-footer-c">
          &copy; {{year | date: 'yyyy'}} - BCRS - Created by Ng Swerve
        </div>
      </div>

    </div>
  </div>
</body>
