<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 7 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<div fxLayout="column">

  <mat-card class="mat-elevation-z8" style="overflow:hidden">

    <mat-card-title style="text-align:center;margin-bottom:100px;padding-top:15px;">Welcome to Bob's Computer Repair Shop!</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="row" class="div-row">

        <div fxLayout="column" class="div-column">
          Our Services
          <br><br>
          <div class="div-text">
            ICONS HERE
          </div>
        </div>

        <div fxLayout="column" class="div-column">
          <div class="div-text">
            ICONS HERE
          </div>
        </div>


      </div>

      <div class="div-column-lower">
        Contact Us!
      </div>

    </mat-card-content>
  </mat-card>
</div>
