<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 7 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - Bob's Computer Repair Shop<br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>
