/**
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 14 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service. 
; Code Attribution:
;   box border design from CodePen by Swarup Kumar Kulia [ref:A]
;     https://codepen.io/uiswarup/pen/RBByzW
===========================================
*/

/* Gryffindor Colors
Crimson: #740001
Red: #ae0001
Yellow: #eeba30
Gold: #d3a625
Black */

/* Available Font Families
font-family: 'Fauna One', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Marcellus', serif;
font-family: 'Prociono', serif;
font-family: 'Raleway', sans-serif; */

.signin-container {

}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
  color: black;
  font-size: 16px;
}

.submit-button {
  height: 50px;
  width: 200px;

}


.msg-error {
  margin: 0;
  padding: 0;
  color: #D8000C;
  background-color: #FFD2D2;
}

/* [ref:A] */
*{
  margin:0;
  padding:0;
}

/* box styling */
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 585px;
  height: 585px;
  background-image: url("/assets/prism.png"); /* background image from toptal by Michal */
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px #f0c75e;
  border: 2px solid #36454f;
  color: white;
  padding: 20px;
}

/* hover transition */
.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2.5px;
  background:#f0c75e;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
  transform-origin: right;

  }
}
/* /[ref:A] */
