/**
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 7 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service. 
===========================================
*/

.logo {
  padding-left: 20px;
  margin-top: 10px;
}

.header {
  height: 110px;
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-container-left {
  display: flex;
}

.navbar-container-right {
  padding-top: 30px;
  margin-left: auto;
  margin-right: 50px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  margin: 0 50px;

}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
