<!--
============================================
; Title: bcrs
; Author: Professor Krasso
; Date: 28 September 2022
; Modified By: Seth Kerrey, Laura Kendl
; Description: The Bob's Computer Repair Shop (BCRS) application calculates
; service repair fees, generates invoices, and tracks purchases by service.
===========================================
-->

<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card-title>
      Purchases by Service Graph
    </mat-card-title>
      <mat-card-subtitle>
        You can hide or show items by selecting their label.
      </mat-card-subtitle>
  </div>

  <div fxFlex>
    <p-chart height='450' width='450' type='pie' [data]='data'></p-chart>
  </div>
  <br />
</div>
